/* History content styling */

#history-content {
    width: 360px;
}

.vasco-shirt {
    width: 360px;
    height: 220px;
    margin-top: 60px;
}

.history-grid {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 13px;
}

.maltese-image {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

/* End of History content styling */ 