/* History content styling */

#history-content {
    width: 360px;
}

.vasco-shirt {
    width: 360px;
    height: 220px;
    margin-top: 60px;
}

.history-grid {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 13px;
}

.maltese-image {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.stadium-photo {
    width: 320px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    /* History content style for desktop */
@media (width > 420px){

    #history-content {
        width: 1440px;
    }

    .vasco-shirt {
        width: 1440px;
        height: 880px;
        margin-top: 100px;
    }

    .history-grid {
        display: flex;
        justify-content: center;
        width: 1240px;
        gap: 30px;
        margin-top: 110px;
        margin-left: 100px;
    }

    .maltese-image {
        width: 70px;
        height: 70px;
        margin-top: 20px;
    }

    .stadium-photo {
        width: 1040px;
        margin-left: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}