/* Legends page content styling */

#legends-content {
    width: 360px;
    margin-top: 76px;
}

.legends-grid {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.maltese-image {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

p {
    margin-bottom: 14px;
}

h3 {
    color: black;
    text-align: center; 
}

.player-position {
    margin-top: 16px;
}

    /* Legends page content style for desktop */
@media (width > 420px) {

    #legends-content {
        width: 1240px;
        margin-top: 100px;
        margin-left: 100px;
        margin-top: 111px;
    }
    
    .legends-grid {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 211px;
        margin-bottom: 140px;
    }
    
    .maltese-image {
        width: 70px;
        height: 70px;
        margin-top: 30px;
    }
    
    p {
        width: 600px;
        margin-left: 0;
        line-height: normal;
        margin-top: 10px;
    }

    h3 {
        font-size: 40px;
        color: black;
        text-align: center;
        margin-bottom: 10px;
    }

    .video-text-position-desktop {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 220px;
    }

    .text-grid-position-desktop {
        width: 600px;
        height: 294px;
        align-content: center;
    }
    
    .player-position {
        margin-top: 0;
        width: 600px; 
        height: 335px;
        border: 0;
    }

    .row-reverse {
        flex-direction: row-reverse;
    }
}