#legends-content {
    width: 360px;
    margin-top: 76px;
}

.legends-grid {
    display: flex;
    justify-content: center;
    gap: 8px;
    /* margin-top: 76px; */
}

.maltese-image {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

p {
    margin-bottom: 14px;
}

.player-position {
    margin-top: 16px;
}