/* Racism page content styling */

#racism-content {
    width: 360px;
}

.vasco-team {
    width: 360px;
    height: 248px;
    margin-top: 60px;
}

.racism-grid {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 25px;
}

.maltese-image {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.letter-img {
    width: 300px;;
    height: 450px;
    margin-left: 30px;
    margin-top: 16px;
}

    /* Racism page content style for desktop */
@media (width > 420px){

    #racism-content {
        width: 1240px;
        margin-left: 100px;
    }
    
    .vasco-team {
        width: 1440px;
        height: 991px;
        margin-top: 100px;
    }
    
    .racism-grid {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 110px;
        margin-left: 100px;
    }
    
    .maltese-image {
        width: 70px;
        height: 70px;
        margin-top: 20px;
    }

    .letter-grid {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .desktop-left-content {
        margin-left: 100px;
        margin-top: 104px;
    }
    
    .letter-img {
        width: 600px;;
        height: 900px;
    }

    .letter-paragraph {
        width: 600px;
        margin-top: 14px;
        margin-left: 0;
    }

    .desktop-right-content {
        width: 600px;
        margin-top: 104px;
        margin-left: 0;
        margin-right: 100px;
    }
}